@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.86%;
    --foreground: 0 0% 2.35%;

    --primary: 0 0% 22.75%;
    --primary-foreground: 0 0% 100%;

    --card: 0 0% 96.86%;
    --card-foreground: 0 0% 2.35%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 2.35%;

    --secondary: 0 0% 88.24%;
    --secondary-foreground: 0 0% 0.78%;

    --muted: 0 0% 92.16%;
    --muted-foreground: 0 0% 40%;

    --accent: 0 0% 92.16%;
    --accent-foreground: 0 0% 22.75%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 0 0% 22.75%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 14.12%;
    --foreground: 0 0% 67.06%;

    --primary: 0 0% 81.96%;
    --primary-foreground: 0 0% 18.43%;

    --card: 0 0% 14.12%;
    --card-foreground: 0 0% 88.24%;

    --popover: 0 0% 14.12%;
    --popover-foreground: 0 0% 88.24%;

    --secondary: 0 0% 5.1%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 10.59%;
    --muted-foreground: 0 0% 50.59%;

    --accent: 0 0% 0.78%;
    --accent-foreground: 0 0% 88.24%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 9.8%;
    --input: 0 0% 37.65%;
    --ring: 0 0% 18.43%;

    --dot-bg: #3a3a3a;
    --dot-color: #6b6b6b;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
